// NASA.SV

params.csv = "${projectDir}/test.csv" 
params.reference_fasta = "${projectDir}/data/ref1000g/GRCh38_full_analysis_set_plus_decoy_hla.fa"
params.reference_index = "${projectDir}/data/ref1000g/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai"
params.publishDir = "${projectDir}/test/result/"
params.threads = 4

// Set GRIDSS settings
params.jvmheap = "200g"
params.gridss_blacklist = "${projectDir}/data/gridsspl/gpl_ref_gatk_38/dbs/gridss/ENCFF001TDO.bed"
params.gridss_repeatmasker = "${projectDir}/data/gridsspl/gpl_ref_gatk_38/dbs/repeatmasker/rm.fa.out.bed"
params.gridss_properties = "${projectDir}/data/gridsspl/gpl_ref_gatk_38/dbs/gridss/gridss.properties"

// Setup

profiles {

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }

  docker {
    docker.enabled = true
    docker.autoMounts = true
  }

}

params {

  //default
  max_memory = '100 GB'
  max_cpus = 5
  max_time = '2 h'

  igenomes_base = '/flask/reference/Genomics/aws-igenomes'

}

process {
  // executor = 'slurm'
  time = params.max_time
  cpus = params.max_cpus
  memory = params.max_memory
}

